<h1>Admin::Dashboard#show</h1>
<div class="row">
<div class="col-xs-6 col-md-4">
  <h4>Number of products</h1>
  <h1><%= @item_count %></h1>
</div>
<div class="col-xs-6 col-md-4">
  <h4>number of categories</h4>
  <h1 ><%= @number_of_categories %></h1>
</div>
</div>