<header class="page-header">
<h1>Admin &raquo; Categories</h1>
</header>

<div class="well">
  <%= link_to '+ New Category', [:new, :admin, :category], class: 'btn btn-info' %>
</div>

<div class="panel panel-default products">
  <table class="table table-bordered">
    <tr>
      <th>Category</th>
      <th># of items</th>
    </tr>

    <% @categories.each_with_index do |category, index|%>
      <tr>
        <td><%= category.name %></td>
        <td><%= @items_number[index + 1] || "0"%></td>
      </tr>
    <% end %>
  </table>
</div>




