<section>
  <header>
    <h1>About Us</h1>
    <p>
      Thank you for taking the time to visit out shop. We have spends countless hours curating the most amazing selection of items. Here at Jungle everyone is passionate about having the most amount of drip, and we're on a mission to share that with everyone. We started off as a bunch of humble thrift shop goers, but now we've expanded to selling Yeezys all across the globe. 
    </p>
  </header>
  
</section>